@import url('https://fonts.googleapis.com/css?family=Raleway:200');
header {
  background-color: blue;
}

html {
  background-color:blue;
  display: flex;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: white;
    
}
.banner{
  background url(https://images-na.ssl-images-amazon.com/images/I/61JK8%2BN6f9L._SS500.jpg);
    width: 60%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:70% auto;
}

li {
  color: white;
  display: block;
  width: 60px;
  padding: 20px ;
  display: inline;
  font-weight: bold;
  margin: 20px;
  font-size: 120%;
  
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  text-align: center;
  
  
    
}

.active {
    background-color: #4CAF50;
    color: white;
}

a {
  color: white;
   font-family: 'Raleway', sans-serif;
  display: inline;
  background-color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  
}

#form-outer {
  background-color: white;
  margin: 20px 220px 0px 220px;
  border-radius: 25px;
  
}

#submit {
  
  color: black;
  font-align:center;
  background-color: black;
  margin: 30px;
  font-size: 20px;
  margin: 30px;
 
}

#button {
  color: white;
   font-family: 'Raleway', sans-serif;
  display: inline;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
  border-width: thick;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  
  
}
 
#download {
  text-align: center;
  font-weight: bold;
  border: 20px;
  text-align: center;
  
}

.active {
    background-color: #4CAF50;
}


#about {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 100px 20px 100px 20px
  
}

#tour {
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 100px 20px 40px 20px;
}

#music {
  font-family: 'Raleway', sans-serif;
  padding: 100px 20px 40px 20px;
  float: left;
  clear: left;
}

#songs {
  list-style-type: decimal;
  font-size: 15px;
  display: inline-block;
  float: left;
}

h2 {
  color: white;
}

p {
  color: white;
}

#submit {
  color: white;
  font-size: 15px;
  padding: 0,5px;
}

#form {
  align-items: center;
  
}

@media only screen and (max-width: 500px) {
  
  body {
    background-color: white;
  }
  
}

